div {
  
  font-family: "Libre Baskerville", serif;
  text-align: center;
  color: white;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
}
h1 {
font-size: 2rem;
}
img {
  border: 5px solid white;
  width: 100%;
}
body{
    background-color: black;
}